W2G_API_KEY=your_watch2gether_api_key
BOT_TOKEN=your_discord_bot_token
DB_FILE=user_rooms.db
GUILD_ID=1234567890000000001
ROLE_ID=1234567898098766554
MAX_LOG_SIZE=33554432
ROTATE_LOGS=5
LOG_FILE=discord.log
DEFAULT_AVATAR=https://i.ibb.co/TMnHDzL2/watchparty.png
MAX_USER_ROOM=10
